<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section class="w-[350px] p-[20px] bg-linear h-[500px] drop-shadow-2xl rounded flex justify-between items-start flex-col z-40">
  {{image}}
  <div class="flex flex-col justify-around items-center w-full h-2/5  bg-radial">
    <div></div>
    <div class="flex justify-center items-center w-full">
      <h2 class="text-slate-700 text-2xl lg:text-base">{{username}} {{firstname}}</h2>
    </div>
    <div class="flex justify-center items-center w-full">
      <a href="{{link}}" class="bg-custom_green text-slate-50 w-[250px] text-xl lg:text-xs py-[15px] text-center">Voir la
        fiche</a>
    </div>
  </div>
</section>
</body>
</html>