<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="flex text-slate-50">
    <svg class="w-[40px] h-[40px] lg:w-[25px] lg:h-[25px]" fill="#73a03a" height="512"
         viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="cek">
            <path d="m18.25244 14.91406a5.27054 5.27054 0 0 1 -5.26514 5.26465h-5.47021a5.27044 5.27044 0 0 1 -5.26465-5.26465v-5.47021a5.27086 5.27086 0 0 1 5.26465-5.26514h7.80464a1.00011 1.00011 0 0 1 0 2h-7.80464a3.26856 3.26856 0 0 0 -3.26465 3.26514v5.47021a3.26846 3.26846 0 0 0 3.26465 3.26465h5.47021a3.26887 3.26887 0 0 0 3.26514-3.26465 1 1 0 0 1 2 0zm3.20215-10.7998a.99962.99962 0 0 0 -1.41406 0l-8.68408 8.68408-3.39405-4.19287a1.00008 1.00008 0 0 0 -1.55464 1.25786l4.09273 5.05659a.99966.99966 0 0 0 1.48437.07813l9.46973-9.46973a.99964.99964 0 0 0 0-1.41406z"/>
        </g>
    </svg>
    <div class="ml-[20px] flex justify-center items-start">
        <p class="mt-[5px] lg:mt-0 text-xl">
            {{name}}
        </p>
    </div>
</div>
</body>
</html>