<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MSPR</title>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        custom_green:"#73A03A"
                    }
                }
            }
        }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body class="relative bg-radial bg-main text-slate-900">
<nav class="z-50">
    <a href="index.html" class="fixed top-0 right-0 z-50 p-[25px]">
        <svg fill="#fff" class="w-[50px] h-[50px]" height="512" viewBox="0 0 32 32" width="512"
             xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_3" data-name="Layer 3">
                <path d="m11 14.414v7.435a.152.152 0 0 0 .152.151h9.7a.152.152 0 0 0 .148-.151v-7.435l-5-5z"/>
                <path d="m16 1a15 15 0 1 0 15 15 15.017 15.017 0 0 0 -15-15zm8.207 15.207a.95.95 0 0 1 -1.207.138v5.5a2.154 2.154 0 0 1 -2.152 2.155h-9.7a2.154 2.154 0 0 1 -2.148-2.151v-5.5a.986.986 0 0 1 -1.207-.138 1 1 0 0 1 0-1.414l1.5-1.5 6-6a1 1 0 0 1 1.414 0l6 6 1.5 1.5a1 1 0 0 1 0 1.41z"/>
            </g>
        </svg>
    </a>
</nav>
<div class="z-10 fixed top-0 left-0 text-[400px] text-white opacity-50 transform -rotate-12 -translate-y-1/3 -translate-x-1/5 select-none pointer-events-none">
    <h1>GO Securi</h1>
</div>
<section class="grid grid-cols-2 lg:grid-cols-4 gap-[50px] p-[70px] mr-[100px] z-40">
    {{agents}}
</section>
</body>
<style>
    :root {
        --blue-custom: #030B31;
    }

    * {
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        transition: all ease-in-out .3s;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        pointer-events: auto;
    }

    body {
        box-sizing: border-box;
        display: inline-block;
        width: 100vw;
        max-width: 100vw;
        clear: both;
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
        max-width: 100vw;
        scroll-behavior: smooth
    }

    nav a {
        text-decoration: none
    }

    a:focus, a:hover, button:focus, button:hover {
        filter: saturate(120%) brightness(120%);
        transition: all ease-in-out .2s
    }

    a, button, h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }

    .bg-radial {
        background: radial-gradient(100% 189.66% at 0% 35.83%, rgba(127, 191, 254, 0.5) 0%, rgba(233, 184, 242, 0.5) 27.08%, rgba(255, 225, 224, 0.5) 54.17%, rgba(255, 247, 245, 0.5) 100%), #FFFFFF;
        position: relative;
    }

    .bg-linear{
        background: linear-gradient(148.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(30, 174, 202, 0.2) 8.06%, rgba(255, 94, 91, 0.2) 18.55%, rgba(255, 255, 255, 0.2) 26.06%, rgba(30, 174, 202, 0.2) 39.57%, rgba(255, 255, 255, 0.2) 48.59%, rgba(30, 174, 202, 0.2) 61.23%, rgba(255, 94, 91, 0.2) 78.46%, rgba(30, 174, 202, 0.2) 92.73%, rgba(255, 255, 255, 0.2) 100%), #FFFFFF;
    }

    .bg-main:after {
        position: fixed;
        content: "";
        right: 0;
        top: 0;
        width: 100px;
        height: 100vh;
        background: var(--blue-custom);
        z-index: 10;
        pointer-events: none;
    }

    .bg-main:before {
        position: fixed;
        content: "";
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100px;
        background: var(--blue-custom);
        z-index: 10;
        pointer-events: none;
    }


</style>
<script>

</script>
</html>